@using Modules.Biz
@using Modules
@using ORM
@using Console.App_Start
@model RegulationSourceFile
@{
    ViewBag.Title = "通知公告";
    Layout = "../Shared/_TopLayout.cshtml";
    MyDbContext context = new MyDbContext();
}


<style type="text/css">
    .layui-form-item label {
        width: 140px;
    }

    .layui-input-block {
        margin-left: 170px;
    }

    .layui-form-item .layui-input-inline {
        width: 160px;
    }
    .text-center {
        text-align:center;
    }
</style>

@using (Ajax.BeginForm("Save", new { Model.Id, @Model.ParentId }, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateData", OnSuccess = "saveSuccessed" }, new { @class = "layui-form" }))
{
    <div class="sel-relative">
        <div class="sel-fixed-right">
            <input type="button" class="layui-btn layui-btn-small layui-btn-normal" value="保存" onclick="saveInfo()" />
            <input type="button" class="layui-btn layui-btn-small layui-btn-primary" value="返回" onclick="history.go(-1)" />
        </div>
        <div class="blank40"></div>
        <div class="sel-table-td-space" style="margin:0 auto">
            <table class="layui-table" style="margin-left: 20%;width:60%;">
                <colgroup>
                    <col width="150"/>
                    <col width="400"/>
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center;"> 政策法规原始文件管理</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">文件名称</td>
                        <td style="border-bottom: 1px solid #ddd">
                            <input type="text" lay-verify="required" name="FileName" autocomplete="off" placeholder="请输入" class="layui-input" value="@Model.FileName">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">文件编号</td>
                        <td colspan="2" style="border-bottom: 1px solid #ddd">
                            <input type="text" lay-verify="required" name="FileNo" autocomplete="off" placeholder="请输入" class="layui-input" value="@Model.FileNo">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">原始文件</td>
                        <td style="border-bottom: 1px solid #ddd">
                            <input type="button" class="layui-btn layui-btn-mini" value="上传文件" onclick="uploadFileAutoHandle('@Model.Id    ','@UploadFileTypeEnum.Project_Type1.ToString()    ')" />
                            <div id="tDiv">
                            </div>
                        </td>
                    </tr>
                </tbody>              
            </table>
        </div>
    </div>

}
<script id="template" type="text/html">
    {{# layui.each(d,function(index,item){ }}
    <div class="attachmentName">
        <i class="icon-attachment text_lightgray"></i>
        <span class="attachmentTitle" onclick="downloadItem('{{=item.Id}}') ">{{=item.Name}}</span>
        <span class="attachmentSize"></span>
        <span class="upload-time">{{=item.UploadTime}}</span>
        <span class="fright"><i onclick="removeItem('{{item.Id}}')" class="icon-delete text_red" title="删除"></i></span>
    </div>
    {{#});}}
</script>


<script type="text/javascript">

    var form;
    $(document).ready(function () {
        form = layui.form;
        form.render();
        queryUploadFile('@Model.Id',1,loadData);
    });

    var saveSuccessed = function (result) {
        app.endLoading();
        if (result.Result) {
            app.showSuccess("保存成功！");
            window.history.go(-1);
        } else {
            app.showError(result.Message);

        }
    };

    var validateData = function () {
        var isValid = app.verifyInput();
        if (isValid) {
            app.startLoading();
        }
        return isValid;
    };



    //提交
    var saveInfo = function () {
        $("form").submit();
    };

   function uploadFileList(id, type) {
        top.layer.open({
            type: 2,
            area: ["800px", "450px"],
            fixed: false, //不固定
            title: "列表",
            content: "@Url.Action("UploadFileList")?id=" + id + "&type=" + type,
            btn: ["取消"]
        });
    }


    //上传文件
     var uploadFileAutoHandle = function (targetId, type) {
        top.layer.open({
            type: 2,
            area: ["720px", "410px"],
            fixed: false, //不固定
            title: "文件上传",
            content: "@Url.Action("Index", "UploadFile")",
            anim:2,
            success: function (la, index) {
                top.window[la.find("iframe")[0]["name"]].setAutoFinishCallback(function (data) {
                    var idList = [];
                    for (var i = 0; i < data.length; i++) {
                        idList.push((data[i].Id));
                    }
                    app.invokeService({
                        url: "@Url.Action("SetUploadFileRelation", "UploadFile")?targetId="+targetId+"&group="+type,
                        data: idList,
                        success: function (d) {
                            if (d.Result) {
                                top.layer.close(index);
                                app.showSuccess("上传成功！");
                            } else {
                                top.showError(d.Message);
                            }
                            queryUploadFile('@Model.Id', 1, loadData);
                        }
                    });
                    top.layer.close(index);
                });
                app.showSuccess("上传窗体已打开");
            }
        });
    };

        //刷新当前页附件
     var queryUploadFile = function (targetId, group, fun) {
        $.ajax({
            url: "@Url.Action("SetUploadFile")?targetId="+targetId+"&group="+group,
            cache:false,
                success: function (data) {
                    fun(data);
                }
         });
     }

    var loadData = function (data) {
        var tpl = $("#template").html();
        layui.laytpl(tpl).render(data, function (html) {
            $("#tDiv").html(html);
            window.handleForbiddenFuncs();

        });
     };

     //下载
        var downloadItem = function (id) {
                location.href = "@Url.Action("Download", "UploadFile")?id=" + id;
            };

        var removeItem = function (id) {
            top.layer.confirm("您确定要删除该信息？", {
                btn: ["确定删除", "取消"],
                title: "提示"
            }, function () {
                app.invokeService({
                    url: "@Url.Action("Romove", "UploadFile")?id=" + id,
                    success: function () {
                        queryUploadFile('@Model.Id',1,loadData);
                        app.showSuccess("删除成功！");
                }
                });
            });
        };

</script>

<script>
    var isExist = "@(new MyDbContext().Regulations.Find(Model.Id) != null)" === "True";
    var validateAddPermission = function () {
        return !isExist;
    };

    var validateEditPermission = function () {
        return isExist;
    };
</script>
